/* Media queries styles here */

/* Ensure font-family is applied if necessary */
body {
  font-family: "Noto Serif Display", serif;
}

@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: block;
  }
}
